:root{
  --main-color: #4C98AA;
  --border-color: #ececec;
  --font-color: #242422;
  --bg-color: #f9f9f9;
  --footer-font-color: #a6adb6;
  --base-font: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK JP Subset","Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
    --title-font: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  --english-font: "Cormorant Garamond", serif;
}

/*-------------------------
  基本設定
-------------------------*/

:where(html) {
  font-family: var(--base-font);
  font-weight: 500;
  color: var(--font-color);
  line-height: 1.5;
}

:where(h1, h2, h3, a){
  letter-spacing: .04em;
}

:where(p){
  line-height: 2;
}

:where(img){
  object-fit: cover;
}

/*-------------------------
  レイアウト調整
-------------------------*/
.l-inner {
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

.l-block{
  margin: 40px 0;
  position: relative;
}

@media (min-width: 1024px){
  .l-block{
    margin: 80px 0;
  }
}

.l-block--background{
  background-color: var(--bg-color);
  padding: 40px 0;
}

@media (min-width: 1024px){
  .l-block--background{
    padding: 80px 0;
  }
}

.l-grid{
  display: grid;
  gap: 30px;
}

@media (min-width: 768px){
  .l-grid{
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media (min-width: 1024px){
  .l-grid{
    gap: 80px;
  }
}

.l-grid--top{
  align-items: flex-start
}

.l-grid img{
  aspect-ratio: 1 /1;
  object-fit: cover;
}

@media (min-width: 1024px){
  

   .l-grid--reverse .l-grid__content1 {
    order: 2;
  }

  .l-grid--reverse .l-grid__content2 {
    order: 1;
  }
  }

.u-center{
 text-align: center;
}

.u-space{
  margin-top: 40px;
}

@media (min-width: 1024px){
  .u-space{
    margin-top: 80px;
  }
}

.u-space--l{
  padding-top: 40px;
}

@media (min-width: 1024px){
  .u-space--l{
  padding-top: 80px;
}

}
/*================================
	見出し
=================================*/
.c-heading__en{
  text-transform: uppercase;
  color: var(--main-color);
  font-family: var(--english-font);
    font-feature-settings: "palt";
  letter-spacing: 0.08em;
  font-size: clamp(13.64px, 0.085vw + 13.368px, 15px);
}

.c-heading__title{
  font-size: clamp(22.21px, 0.556vw + 20.432px, 31.1px);
  color:#242422;
  font-family: var(--title-font);
  font-weight: normal;
  margin-top: 24px;
   letter-spacing: 0.15em;
  font-feature-settings: "palt";
}

/*================================
	テキストエリア
=================================*/
.c-textarea{
  text-align: justify;
  margin-top: 40px;
  letter-spacing: 0.08em;
  font-feature-settings: "palt";
  line-height: 2;
}

.c-textarea p{
  margin-bottom: 24px;
  color: #424242;
  font-size: 15px;
}

/*================================
	button
=================================*/

.c-button{
  margin-top: 40px;
  text-align: center;
}

.c-button__link{
  border: 1px solid #424242;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  font-size: 14px;
  min-height: 3rem;
}

@media (min-width: 768px){
  .c-button--left{
    text-align: left;
  }
}

/*-------------------------
  ヘッダー
-------------------------*/
.l-header {
  height: 60px;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  z-index: 100;
  background: #fff;
  }

.l-header__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 16px;
  height: 100%;
}

.l-header__logo img{
  width: 180px;
}

@media (min-width: 1024px){
  .l-header__logo img{
    width: 200px;
  }
}

.l-header__menu li {
  text-transform: uppercase;
  color: var(--font-color);
  position: relative;
  font-size: 14px;
}

.l-header__menu li:after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.2s;
}

.l-header__menu li:hover::after{
  transform: scale(1,-1);
}

/* ハンバーガーメニューが表示されている場合 */
@media not all and (min-width: 1024px) {
  
  .l-header__nav {
    position: fixed;
    top: 60px;
    right: -100%; /* メニューの位置マイナス指定で画面外に */
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.3s;
  }

  .l-header__menu {
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .l-header__menu li {
    display: flex;
    align-items: center;
    padding: 24px;
    letter-spacing: 0.1em;
    position: relative;
  }

  .l-header__menu li:not(:last-child){
    border-bottom: 1px solid var(--border-color);
  }

  .l-header__menu li a {
    position: relative;
    padding-left: 30px;
  }

  .l-header__menu li a::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/icon/arrow.svg) no-repeat center center/contain;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .l-header__nav.open {
    position: absolute;
    right: 0; /* メニューオープン時位置0にして画面内に */
    z-index: 100;
    top: 60px;
  }
}

.l-header__menu li a:hover {
  color: var(--main-color);
  background: #fff;
}

/* 1024px以上のスタイリング */
@media (min-width: 1024px) {
  .l-header {
    padding: 0 40px;
    height: 76px;
    background: transparent;
    transition: background-color 0.3s ease;
  }

  .l-header__menu {
    /* メニューを横に */
    display: flex;
    align-items: center;
    gap: 40px;
  }

}



/*-------------------------
  ハンバーガーメニュー
-------------------------*/
.c-hamburger {
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

/* ハンバーガーメニューの基準線 */
.c-hamburger__line {
  display: block;
  position: relative;
  width: 24px;
  height: 1px;
  background-color: #fff;
  transition: 0.2s;
  margin: 0 auto;
}

/* ハンバーガーメニューの上下線 */
.c-hamburger__line::before,
.c-hamburger__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: 0.5s;
  left: 0;
}

.c-hamburger__line::before {
  transform: translateY(-10px); /* 上の線の位置 */
}

.c-hamburger__line::after {
  transform: translateY(10px); /* 下の線の位置 */
}

/* メニューオープン時 */
.c-hamburger__line.open {
  background-color: transparent; /* 真ん中の線を透明に */
}

.c-hamburger__line.open::before,
.c-hamburger__line.open::after {
  content: "";
  background-color: #fff;
  transition: 0.2s;
}

.c-hamburger__line.open::before {
  transform: rotate(45deg); /* 上の線を傾ける */
}

.c-hamburger__line.open::after {
  transform: rotate(-45deg); /* したの線を傾ける */
}

@media (min-width: 1024px) {
  .c-hamburger {
    display: none;
  }
}


/*-------------------------
  下層ページのタイトル
-------------------------*/

.l-page-header{
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.l-page-header__subtitle{
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 14px;
  font-feature-settings: "palt";
  letter-spacing: 0.08em;
  font-family: var(--english-font);
}

.l-page-header__title{
  font-size: clamp(24.88px, 0.778vw + 22.392px, 37.32px);
  font-family: var(--title-font);
  font-weight: normal;
  margin-top: 8px;
}

/*================================
	MV
=================================*/
.p-main-visual {
  position: relative;
}

.p-main-visual__wrap{
  position: relative;
}

.p-main-visual__image{
  display: block;
  height: 64vh;
  object-fit: cover;
}

.p-main-visual__cta {
  position: absolute;
  bottom: 24px;
  left: 0;

}

.p-main-visual__cta a{
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;  
  display: inline-block;
  font-feature-settings: "palt";
  box-sizing: border-box;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(36, 36, 36, 0.2);
  color: var(--font-color);
}

.p-main-visual__cta a::before{
  position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  left: 0;
  width: 30%;
  height: 1px;
  background: var(--font-color);
}

.p-main-visual__image{
  
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.p-main-visual__image img{

width: 100%;
height: 100%;
object-fit: cover;
max-width: 1440px;
margin: 0 auto;
}


@media (min-width: 1024px) {
  .p-main-visual__image {
    height: 84vh;
  }

  .p-main-visual__cta {
    bottom: 40px;
    left: -120px;
    font-size: 20px;
  }

}

/*================================
	cards
=================================*/

.c-cards{
  display: grid;
  gap: 64px;
  margin-top: 40px;
}

@media (min-width: 768px){
  .c-cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px){
    .c-cards{
    grid-template-columns: repeat(3, 1fr);
  }
}

.c-card__title{
  font-size: clamp(18px, 0.225vw + 17.280px, 21.6px);
  margin-top: 16px;
   font-family: var(--title-font);
   font-weight: normal;
}

.c-card__address{
  font-size: clamp(13.64px, 0.085vw + 13.368px, 15px);
  color: #666;
}

.c-card__links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-top: 20px;
}

.c-card__link{
  display: block;
  border: 1px solid;
  padding: 10px 0;
  display: grid;
  gap: 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}



.c-card__link--reserve{
  background-color: var(--main-color);
  color: #fff;
  border-color: var(--main-color);
}



/*================================
	スタッフ紹介
=================================*/

.p-staff{
  margin-top: 24px;
}

.p-staff__item{
  width: 240px;
  text-align: center;
}

.p-staff__desc{
  margin-top: 8px;
}

.p-staff__imgage img{
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.p-staff__position{
  font-size: 14px;
}

.p-staff__store{
  font-size: 14px;
}

.p-staff__name{
  margin-top: 8px;
  font-weight: bold;
}

.p-staff__profile{
  margin-top: 12px;
}

.p-staff__link{
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;  
  display: inline-block;
  font-feature-settings: "palt";
  box-sizing: border-box;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(36, 36, 36, 0.2);
  color: var(--font-color);
  font-size: 14px;
}

.p-staff__link::after{
  position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  left: 0;
  width: 30%;
  height: 1px;
  background: var(--font-color);
}

@media (min-width: 1024px){
  .p-staff{
    margin: 40px 0; 
  }
}


/*================================
	Swiper
=================================*/
.swiper{
  position: relative;
  margin-right: calc(50% - 50vw);
}

.swiper-slide{
  margin-right: 20px;
}

/* 幅・高さを指定 */
.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 50px;
}
 
/* 矢印を消す、画像に変更 */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: auto;
}
 
/* 前に戻る画像パス */
.swiper-button-prev:after {
  background-image: url(../images/icon/arrow-circle.svg);
  transform: rotate(-180deg);
}

/* 次に進む画像パス */
.swiper-button-next:after {
  background-image: url(../images/icon/arrow-circle.svg);
}

.swiper-btn{
  display: none;
}

@media (min-width: 1024px){
  .swiper-btn{
    position: absolute;
    display: flex;
    top: 65px;
    left: 80%;
    width: 140px;
  }
  }

.swiper-pagination-bullets {
  display: none;
}


 /*================================
	instagram
=================================*/

.p-instagram{
    margin-top: 40px;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.p-instagram img{
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (min-width: 768px){
  .p-instagram{
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

@media (min-width: 1024px){
  .p-instagram{
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 80px;
  }
}

 /*================================
	link-list
=================================*/

.c-link-list{
  display: grid;
  gap: 30px;
  margin-top: 40px;
}

.c-link-list__item{
  text-transform: uppercase;
  position: relative;
  padding: 0 0 15px 4px;  
  display: block;
  font-feature-settings: "palt";
  box-sizing: border-box;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(36, 36, 36, 0.2);
  color: var(--font-color);
  font-size: 15px;
}

.c-link-list__item::before{
    position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  left: 0;
  width: 30%;
  height: 1px;
  background: var(--font-color);  
}

.c-link-list__item::after{
  position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/icon/arrow.svg) no-repeat center center/contain;
    right: 0;
    top: calc(50% - 10px);
    transform: translateY(-50%);
}


/*================================
	footer
=================================*/
.l-footer{
  padding: 40px 0 24px;
  border-top: 1px solid var(--border-color);
}

  .l-footer__wrap{
  display: grid;
  gap: 40px;
}



.l-footer__logo{
  width: 160px;
}

.l-footer__sns{
  margin-top: 40px;
  display: grid;
  gap: 20px
}



.l-footer__sns a{
  position: relative;
  padding-left: 24px;
  padding-right: 28px;
  font-size: 14px;
}

.l-footer__sns a::before{
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/icon/instagram.svg) no-repeat center center/contain;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.l-footer__sns a::after{
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/icon/arrow.svg) no-repeat center center/contain;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-40deg);
}


.l-footer__recruit a{
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(36, 36, 36, 0.2);
  color: var(--font-color);
  font-size: 15px;
  position: relative;
}

.l-footer__recruit a::before{
      position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  left: 0;
  width: 30%;
  height: 1px;
  background: var(--font-color); 
}


.l-footer__copy {
  font-size: 12px;
  color: #999;
  margin-top: 64px;
  display: block;
  font-family: "Jost", sans-serif;
}

@media (min-width: 768px){
  .l-footer__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
justify-content: space-between;
  }

  .l-footer__recruit{
    float: right;
    text-align: right;
    font-size: 15px;
    margin-right: 40px;
  }
}

/*================================
	archive
=================================*/


.p-archive{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 12px;
}

.p-archive .p-staff__item{
  width: 100%;
}

.p-archive .p-staff__imgage img{
  aspect-ratio: 1 / 1;
}



@media (min-width: 1024px){
  .p-archive{
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 40px;
}
}


/*================================
	table
=================================*/

.c-table{
  max-width: 800px;
  margin-inline: auto;
}

.c-table__list dt{
  font-weight: bold;
  padding: 18px 0 13px 0;
  border-top: solid 1px #e6e6e6;
}



.c-table__list dd{
  font-size: 15px;
  color: #585858;
  padding: 0px 0 19px 0;
  line-height: 2;
}

.c-table__list dd:last-of-type{
  border-bottom: solid 1px #e6e6e6;
}

.c-table__list a{
  text-decoration: underline;
  color: #1839b1;
}

@media (min-width: 768px){
  .c-table__list{
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  .c-table__list dt{
  padding: 32px;
}

.c-table__list dt:last-of-type{
  border-bottom: solid 1px #e6e6e6;
}

.c-table__list dd{
  padding: 32px;
  border-top: solid 1px #e6e6e6;
}
}



/*-------------------------
  index
-------------------------*/

.c-index{
  margin-top: 24px;
}

.c-index li{
  letter-spacing: .05em;
  padding: 13px 0;
  border-bottom: 1px solid var(--border-color);
  font-size: 14px;
}

.c-index li a{
  position: relative;
  display: block;
}

.c-index li a::before{
  position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: url(../images/icon/down.svg) no-repeat center center/contain;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px){
  .c-index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }
}

/*================================
	404
=================================*/

.p-error__contents{
  background: var(--bg-color);
  padding: 20px 16px;
  margin: 0 auto;
  max-width: 800px;
}

.p-error__contents h2{
  color: var(--main-color);
  margin-bottom: 12px;
  font-size: 18px;  
}

@media (min-width: 768px){

  .p-error__contents{
    padding: 40px 40px 24px;
  }

  .p-error__contents h2{
    font-size: 22px;
  }
}

/*================================
	splide
=================================*/
.splide-thumbnail{
  margin-top: 8px;
}
/* 選択されていないサムネイルは薄くする */
.splide__slide {
  opacity: .6;
}
/* 選択されているサムネイルだけ透過しない */
.splide__slide.is-active {
  opacity: 1;
}
/* 画像サイズ調整 */
.splide__slide img {
  height: auto;
  width: 100%;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: none;
}

.splide__track--nav>.splide__list>.splide__slide{
  border: 8px solid transparent;
}